/* Login de la pagina  */
.login-body {
    min-height:100vh;
    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),
    url("../assets/images/login2.jpeg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.login-container {
    width:100%;
    max-width:450px;
    padding:20px;
}
.login-card {
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:
    0 10px 30px rgba(0,0,0,.2);
}
.login-logo {
    width:130px;
    margin-bottom:20px;
}
.login-card h2 {
    font-weight:700;
    margin-bottom:10px;
}
.login-card .input-group-text {
    background:#198754;
    color:white;
    border:none;
}
.login-card .form-control {
    padding:12px;
}
.login-card .btn-success {
    padding:12px;
    border-radius:10px;
}
.login-link {
    color:#198754;
    text-decoration:none;
}

.login-link:hover {
    text-decoration:underline;
}