* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #212529;
    background-color: #ffffff;
}
header {
    background-image: url("../assets/images/background-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.navbar {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, .85),
            rgba(0, 0, 0, 0));
    box-shadow: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
/* Links del menú */
.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 400;
    transition: color .3s ease;
}
.section .nav-link {
    color: #212529;
}
.navbar-nav .nav-link:hover {
    color: #2ed3a3 !important;
}
.hero {
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, .45),
            rgba(0, 0, 0, .45)) url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    padding: 2rem;
}
.hero-content .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}
.hero p {
    font-size: 1.2rem;
    color: #f8f9fa;
    max-width: 600px;
}
/* BOTÓN */
.btn-sigeru {
    background: #198754;
    color: white;
    border-radius: 10px;
    transition: .3s;
}
.btn-sigeru:hover {
    background: #157347;
    color: white;
}
/*Estadisticas*/
.impacto .estadistica-numero {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .75rem;
}
.impacto .azul {
    color: #0d6efd;
}
.impacto .verde {
    color: #13b7ed;
}
.impacto .amarillo {
    color: #df9604;
}
.impacto .rojo {
    color: #dc3545;
}
/* Explicacion de residuos*/
.guia-residuos .guia-imagen {
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.guia-residuos .tipo-residuo {
    margin-bottom: 2rem;
}
.guia-residuos .tipo-residuo:last-child {
    margin-bottom: 0;
}
.guia-residuos .tipo-residuo-titulo {
    display: flex;
    align-items: center;
    gap: .75rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.guia-residuos .circulo {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: currentColor;
    flex-shrink: 0;
}
.guia-residuos p {
    margin-left: 32px;
    color: #6c757d;
    line-height: 1.7;
}
.guia-residuos .papel {
    color: #0d6efd;
}
.guia-residuos .vidrio {
    color: #198754;
}
.guia-residuos .plastico {
    color: #ffc107;
}
.guia-residuos .organico {
    color: #212529;
}
/* Mapa contenedores */
#mapa {
    padding: 80px 10%;
    background: #f8f9fa;
}
#mapa h2 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
#mapa p {
    color: #6c757d;
    margin-bottom: 40px;
}
#map {
    width: 100%;
    height: 550px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}
/* Formulario */
#reclamos form {
    border: none !important;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    background: #ffffff !important;
}
#reclamos .form-control,
#reclamos .form-select {

    border-radius:12px;
    padding:12px;

}
#reclamos .form-control:focus,
#reclamos .form-select:focus{

    border-color:#198754;

    box-shadow:0 0 0 .25rem rgba(25,135,84,.25);

}
#reclamos textarea {
    resize: none;
}
#reclamos .btn-primary {
    background: #198754;
    border: none;
    border-radius: 10px;
    transition: .3s;
}
#reclamos .btn-primary:hover {
    background: #157347;
}
/* Esta seccion es parte del footer */
footer {
    margin-top: 0;
}
.footer-logo {

    width: 150px;

}
.footer-link {

    color: white;
    text-decoration: none;
    transition: .3s;

}
.footer-link:hover {

    color: #d1ffd8;
    padding-left: 5px;

}
.social {

    display: inline-flex;

    width: 40px;
    height: 40px;

    align-items: center;
    justify-content: center;

    background: white;

    color: #198754;

    border-radius: 50%;

    margin-right: 10px;

    font-size: 20px;

    transition: .3s;

}
.social:hover {

    transform: translateY(-5px);
    background: #d1ffd8;

}
footer hr {

    border-color: rgba(255, 255, 255, .4);

}
/*TARJETA BASE SIGERU*/
.card-sigeru {
    border: none;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .08);

    transition:
        transform .35s ease,
        box-shadow .35s ease;
}
.card-sigeru:hover {

    transform: translateY(-8px);

    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);

}
.borde-verde {
    border-left: 5px solid #198754;
}
.borde-azul {
    border-left: 5px solid #0d6efd;
}
.borde-amarillo {
    border-left: 5px solid #ffc107;
}
.borde-rojo {
    border-left: 5px solid #dc3545;
}